<h1>Mantemiento de Cursos</h1>
<div class="card border-primary mb-3" style="background: rgb(217, 217, 217);">
    <div class="card-header">Cursos</div>
    <div class="card-body text-primary">
      <h5 class="card-title">Listado de Cursos</h5>
  
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>id</th>
            <th>nombre</th>
            <th>creditos</th>
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let curso of cursos">
            <td>{{ curso.id }}</td>
            <td>{{ curso.nombre }}</td>
            <td>{{ curso.creditos }}</td>
          </tr>
        </tbody>
      </table>
  
    </div>
  </div>
